<template lang="html">
  <div>
    <label for="name">Name
      <input type="text" class="form-control" id="name"
      :value="firstName"
      @input="nameChanged(true, $event)">
    </label>
    <label for="lastname">Lastname
      <input type="text" class="form-control" id="lastname"
      :value="lastName"
      @input="nameChanged(false, $event)">
    </label>
  </div>
</template>

<script>
export default {
  props: ['value'],
  methods:{
    nameChanged(isFirst, event){
      let name = ''
      if (isFirst) {
        name = event.target.value + ' ' + this.lastName
      } else {
        name = this.firstName + ' ' + event.target.value
      }
      this.value = name
      this.$emit('input', this.value)
    }
  },
  computed: {
    firstName(){
      return this.value.split(' ')[0]
    },
    lastName(){
      return this.value.split(' ')[1]
    }
  }
}
</script>

<style lang="css">
</style>
