<template>
    <div class="container">
      <div class="row" v-if="!isFormSubmitted">
        <form>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <!-- Exercise 1 -->
                <!-- Create a Signup Form where you retrieve the following Information -->
                <!-- Full Name (First Name + Last Name) -->
                <!-- Mail -->
                <!-- Password -->
                <!-- Store Data? Yes/No -->
                <!-- Exercise 2 -->
                <!-- Only display the Form if it has NOT been submitted -->
                <!-- Display the Data Summary ONCE the Form HAS been submitted -->

                <!-- Exercise 3 -->
                <!-- Edit the Example from above and create a custom "Full Name" Control -->
                <!-- which still holds the First Name and Last Name Input Field -->
                <h3>Sign Up form</h3>
                <hr>
                <div class="row">
                  <div class="form-group">
                    <app-fullname v-model="userData.fullname"></app-fullname>
                  </div>

                  <div class="form-group">
                    <label for="email">Email
                      <input type="email" class="form-control" id="email"
                              v-model="userData.email">
                    </label>
                  </div>

                <div class="form-group">
                  <label for="password">Password
                    <input type="password" class="form-control" id="password"
                            v-model="userData.password">
                  </label>
                  </div>

                  <div class="form-group">
                    <label>Store Data ?</label>
                    <br>
                    <label for="yes">
                      <input type="radio" id="yes" value="yes"
                            v-model="storeData">Yes
                    </label>
                    <label for="no">
                      <input type="radio" id="no" value="no"
                            v-model="storeData">No
                    </label>
                  </div>

                  <div class="form-group">
                    <button class="btn btn-primary" @click.prevent="isFormSubmitted = true">Submit</button>
                  </div>
                </div>
            </div>
        </form>
      </div>
      <div class="row" v-else>
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4>Your Data</h4>
                  </div>
                  <div class="panel-body">
                      <p>Full Name: {{ userData.fullname }}</p>
                      <p>Mail: {{ userData.email }}</p>
                      <p>Password: {{ userData.password }}</p>
                      <p>Store in Database?: {{ storeData }}</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
</template>

<script>
  import FullName from './components/FullName.vue'
  export default {
    data() {
      return {
        userData: {
          fullname: '',
          email: '',
          password: ''
        },
        storeData: 'yes',
        isFormSubmitted: false
      }
    },
    components: {
      appFullname: FullName
    }

  }
</script>

<style>

</style>
